<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<string>true</string>
			<key>Type</key>
			<string>text</string>
			<key>Description</key>
			<string>The name of the Domain Specific Language to create</string>
			<key>Name</key>
			<string>DSL Name</string>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>productName</string>
		</dict>
	</array>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A startpoint for a domain specific language based on continuations</string>
	<key>Summary</key>
	<string>A startpoint for a domain specific language based on continuations</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string></string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
</dict>
</plist>
